.indentDescription ,.companyIndent {
    margin-left: 40px;
}

.experienceWord1 {
    color: rgb(169, 169, 169);;
}
.experienceWord2 {
    color:rgb(76, 169, 200);
}
.experienceWord3 {
    color:rgb(169, 169, 169);;
}
